<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>home_page</title>
</head>
<body>
    <button class="block_button">Click me for test</button>
    <script>
        document.querySelector('.block_button').onclick = function() {
            fetch('/send_to_back/', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json',
                },
                body: JSON.stringify({
                    text_to_send: 'value'
                }),
            })
            .then(response=> {
                if (!response.ok){
                    throw new Error('Network reponse was not ok');
                }
                return response.json();
            })
            .then(data =>{
                console.log('ja hnaya ', data.message);
            })
            .catch (error => console.error('errrororrr : ' ,error));
        console.log('yoo');
        }
    </script>
</body>
</html>